@model NewsEngine2._0.Models.ApplicationUser


<div class="panel-heading"><i class="glyphicon glyphicon-user"></i>@Model.UserName</div>
<div class="panel-body">
    <i class="glyphicon glyphicon-envelope"></i> Email: <strong>@Model.Email</strong>
    <br />
    <i class="glyphicon glyphicon-phone"></i> Phone Number:    <strong>@Model.PhoneNumber</strong>    
</div>

