@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Created Date</th>
    </tr>
    @foreach (NewsEngine2._0.Models.ProposedNews news in ViewBag.ProposedNews)
    {
        <tr>
            <td>@news.Title</td>
            <td>@news.Content</td>
            <td>@news.CreatedDate</td>
        </tr>
    }
</table>


<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

    </div>
</div>



