
@{
    ViewBag.Title = "Index";
}

<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                @ViewBag.Title
            </div>
        </div>
    </div>
    <div class="panel-body">
        @foreach (NewsEngine2._0.Models.ApplicationUser user in ViewBag.Users)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    @user.UserName
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <a class="btn btn-sm btn-success pull-left" href="/User/Show/@user.Id">Afisare detali</a>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <a class="btn btn-sm btn-success pull-right" href="/User/Edit/@user.Id">Editare user</a>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




